<div>
{% if procedure.procedure_type == "build" %}
{% call ok.panel("OUTPUTS (ASSEMBLY PRODUCTS)", actions=ok.btn("+ ADD OUTPUT", variant="primary", attrs='onclick="showAddOutput()"')) %}
    {% if output_items %}
    {% call ok.table() %}
        <thead>
            <tr>
                {{ ok.th("PART", width="140px") }}
                {{ ok.th("NAME") }}
                {{ ok.th("EXT PN", width="120px") }}
                {{ ok.th("QTY", width="100px", align="right") }}
                {{ ok.th("", width="60px") }}
            </tr>
        </thead>
        <tbody>
            {% for item in output_items %}
            <tr>
                <td class="mono"><a href="/parts/{{ item.part_id }}">{{ item.part_internal_pn }}</a></td>
                <td><a href="/parts/{{ item.part_id }}">{{ item.part_name }}</a></td>
                {{ ok.td(item.part_external_pn or '-', mono=true) }}
                {{ ok.td(item.quantity_produced, mono=true, align="right") }}
                <td>{{ ok.btn("X", variant="danger", attrs='onclick="removeOutputItem(' ~ item.part_id ~ ')"') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    {% endcall %}
    {% else %}
    {{ ok.empty_line("Outputs", onclick="showAddOutput()") }}
    {% endif %}
{% endcall %}
{% endif %}
</div>
