{% import 'opalkit/_macros.html' as ok %}
{% if purchases %}
{% for po in purchases %}
<tr>
    <td class="mono"><a href="/purchases/{{ po.id }}">{{ po.reference or ('PO-' ~ po.id) }}</a></td>
    <td>
        {% if po.supplier_rel %}
        {{ ok.link(po.supplier_rel.name, "/suppliers/" ~ po.supplier_rel.id) }}
        {% else %}
        {{ po.supplier }}
        {% endif %}
    </td>
    <td>
        {{ ok.status(po.status|status_value|upper) }}
        {% if po.is_overdue %}
        {{ ok.status("OVERDUE", "error") }}
        {% endif %}
    </td>
    <td class="mono {% if po.is_overdue %}text-red{% endif %}">{{ po.target_date.strftime('%Y-%m-%d') if po.target_date else '-' }}</td>
    {{ ok.td(po.lines | length, mono=true, align="center") }}
    <td>{{ ok.timestamp(po.created_at) }}</td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td colspan="6">{{ ok.empty("No purchase orders") }}</td>
</tr>
{% endif %}
{% include 'partials/pagination_row.html' %}
