{% import 'opalkit/_macros.html' as ok %}
{% if instances %}
{% for inst in instances %}
<tr data-href="/executions/{{ inst.id }}">
    <td><a href="/executions/{{ inst.id }}" class="mono">{{ inst.work_order }}</a></td>
    <td><a href="/executions/{{ inst.id }}">{{ inst.procedure_name }} <span class="mono text-muted">v{{ inst.version_number }}</span></a></td>
    <td>{{ ok.status(inst.status | upper | replace('_', ' ')) }}</td>
    <td>{{ ok.mono(inst.completed_steps ~ "/" ~ inst.total_steps) }}</td>
    <td>{% if inst.started_at %}{{ ok.timestamp(inst.started_at) }}{% else %}{{ ok.timestamp(inst.created_at) }}{% endif %}</td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td colspan="5">
        {{ ok.empty_line("Executions") }}
    </td>
</tr>
{% endif %}
{% include 'partials/pagination_row.html' %}
