{% import 'opalkit/_macros.html' as ok %}
{% if instances %}
{% for inst in instances %}
<tr>
    <td><a href="/executions/{{ inst.id }}" class="mono">{{ inst.work_order }}</a></td>
    <td><a href="/executions/{{ inst.id }}">{{ inst.procedure_name }}</a></td>
    <td>{{ ok.mono("v" ~ inst.version_number) }}</td>
    <td>{{ ok.status(inst.status | upper | replace('_', ' ')) }}</td>
    <td>{{ ok.mono(inst.completed_steps ~ "/" ~ inst.total_steps) }}</td>
    <td>{% if inst.started_at %}{{ ok.timestamp(inst.started_at) }}{% else %}{{ ok.timestamp(inst.created_at) }}{% endif %}</td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td colspan="6">
        {{ ok.empty("No executions found") }}
    </td>
</tr>
{% endif %}
{% include 'partials/pagination_row.html' %}
