{% import 'opalkit/_macros.html' as ok %}
{% if issues %}
{% for issue in issues %}
<tr>
    <td>{{ ok.id_cell(issue.issue_number, "/issues/" ~ issue.id) }}</td>
    <td class="cell-clip"><a href="/issues/{{ issue.id }}" class="row-link-plain">{{ issue.title }}</a></td>
    <td>{{ issue.issue_type }}</td>
    <td>{{ ok.issue_state(issue.disp_state) }}</td>
    <td>
        <span class="{% if issue.priority == 'critical' %}text-red{% elif issue.priority == 'high' %}text-yellow{% else %}text-secondary{% endif %}">
            {{ issue.priority | upper }}
        </span>
    </td>
    <td class="mono" title="{{ issue.created_at.strftime('%Y-%m-%dT%H:%M:%SZ') }}">{{ issue.age }}</td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td colspan="6">
        {{ ok.empty_line("Issues", "new issue", href="/issues/new") }}
    </td>
</tr>
{% endif %}
{% include 'partials/pagination_row.html' %}
