{% import 'opalkit/_macros.html' as ok %}
{% if workcenters %}
{% for wc in workcenters %}
<tr>
    <td>{{ ok.id_cell(wc.id, "/workcenters/" ~ wc.id) }}</td>
    <td>{{ ok.mono(wc.code) }}</td>
    <td><a href="/workcenters/{{ wc.id }}">{{ wc.name }}</a></td>
    <td>{{ wc.location or '-' }}</td>
    <td>
        {% if wc.is_active %}
        {{ ok.status("ACTIVE", "active") }}
        {% else %}
        {{ ok.status("INACTIVE", "inactive") }}
        {% endif %}
    </td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td colspan="5">{{ ok.empty("No workcenters found") }}</td>
</tr>
{% endif %}
{% include 'partials/pagination_row.html' %}
