{% import 'opalkit/_macros.html' as ok %}
{% if workcenters %}
{% for wc in workcenters %}
<tr data-href="/workcenters/{{ wc.id }}">
    <td><a href="/workcenters/{{ wc.id }}" class="mono">{{ wc.code }}</a></td>
    <td><a href="/workcenters/{{ wc.id }}">{{ wc.name }}</a></td>
    <td>{{ wc.location or '-' }}</td>
    <td>
        {% if wc.is_active %}
        {{ ok.status("ACTIVE", "active") }}
        {% else %}
        {{ ok.status("INACTIVE", "inactive") }}
        {% endif %}
    </td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td colspan="4">{{ ok.empty_line("Workcenters", href="/workcenters/new") }}</td>
</tr>
{% endif %}
{% include 'partials/pagination_row.html' %}
